.view-animate.ng-enter {
	transition: 0.5s linear all;
	opacity:0;
}

.view-animate.ng-enter.ng-enter-active {
	opacity: 1;
}
.view-animate.ng-enter.z {
	transition: 1.5s linear all;
	opacity:0;
}
 .rating-box.ng-enter {
	transition: 0.5s linear all;
	opacity:0;
}

.rating-box.ng-enter.ng-enter-active {
	opacity: 1;
}
.rating-box.ng-enter.z {
	transition: 1.5s linear all;
	opacity:0;
}

div.rate-paw{
	width:20%;
	max-width:50px;
	margin:auto;
	background-size:contain;
	background-repeat: no-repeat;
	background-image: url('../imgs/paw.jpg');
	height:51px;
	float:left;
	transition: 0.5s linear all;
}

div.rate-paw-done{
	width:20%;
	max-width:50px;
	margin:auto;
	background-size:contain;
	background-repeat: no-repeat;
	background-image: url('../imgs/paw2.png');
	height:51px;
	float:left;
	transition: 0.5s linear all;
}

div.rate-paw.hover{
	background-image: url('../imgs/paw2.png');
	transition: 0.5s linear all;
	
}

.rate-overlay{
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	max-width:100%;
	overflow:hidden;
	height:51px;
	background-color:rgba(255, 255, 255, 0.80);
}



.homebox{
	background-color:blue;
	transition: 0.5s linear all;
}

.homebox:hover{
	background-color:red;
	transition: 0.5s linear all;
}


.navbar-default{
	background-color: #6AB3B2;
	border-color: #6AB3B2;
	box-shadow: 1px 1px 4px black;

}

.navbar-default.normal{
	height:100px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;

}
.navbar-default.shrink{
	height:65px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-default.normal .navbar-brand img{
	height:80px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;

}
.navbar-default.shrink .navbar-brand img{
	height:50px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.z-nav a{
	color: white !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
  -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.z-nav a:hover{
	color: black !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
  }

.navbar-default .navbar-collapse {
	border:none;
}


.top-spacing{
	height:110px;
}
.top-spacing-post{
	height:100px;
}

/*HOME VIDEO BOX*/
.home-vid{
	  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  background-image: url('../imgs/monitor.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 17px 14px 46px 14px;
  
}



/*HOME BOXES*/
.home-box-container{
	position:relative;
	top:0;
	left:0;
	z-index:1;
	margin:auto;
	padding:0;

}

.home-box-container .bg-image{
	position:relative;
	top:0;
	left:0;
	z-index:2;
	margin:0;
	width:100%;
	height:0;
	padding-top:69%;
}

.home-box-container div.top-layer{
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	margin:0;
	width:100%;
	height:100%;
	font-size:0px;
	color:black;
	text-shadow:1px 1px 2px white;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;

	
	
}
.home-box-container div.top-layer:hover{
	
	background-color:rgba(106, 179, 178, 0.63);
	font-size:40px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	
}


/*  MOBILE  */
@media (max-width: 768px){
.navbar-default.normal{}
.navbar-default.shrink{}
.navbar-default.normal .navbar-brand {max-width:75%;height:auto;margin-right:5px;}
.navbar-default.normal .navbar-brand img{max-width:100%;height:auto;margin-right:5px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.8s;
	}

.navbar-default.shrink .navbar-brand img{max-height:50px;width:auto;
-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.8s;
	
}

}