<div>
	<form>
		<input type="radio" name="rateing" value="0" ng-click="postInfoObject.ratePicked()" checked>0
		<input type="radio" name="rateing" value="1" ng-click="postInfoObject.ratePicked()">1
		<input type="radio" name="rateing" value="2" ng-click="postInfoObject.ratePicked()">2
		<input type="radio" name="rateing" value="3" ng-click="postInfoObject.ratePicked()">3
		<input type="radio" name="rateing" value="4" ng-click="postInfoObject.ratePicked()">4
		<input type="radio" name="rateing" value="5" ng-click="postInfoObject.ratePicked()">5
	</form>
</div>